<div layout='column' ng-cloak ng-controller='HomeController'>

  <main class=' background' layout="row" >
    <div class='landing'>
    
      <h3 class='home-title'>Qurvey</h3>
      
      <h2 class='home-title-subtitle'>What is a Qurvey?</h2>
      
      <p class='home-copy'>
        Qurveys are mini-surveys posted and answered by users. You can ask a multiple choice question and we collect all the responses. When you answer a Qurvey, we show you a graph of all of the answers and the personality traits associated with those answers.
      </p>
      
      <br/>
      
      <section class='landingBtns' layout="row" layout-sm="row" layout-align="center center" layout-wrap>
        <div class="landing-button-selected landing-button pointer" ng-click='signup()'>
          Sign Up
        </div>
        
        <div class="landing-button pointer" ng-click='login()'>
          Login
        </div>
      </section>

    </div>
  </main>

  <md-toolbar class="md-tall">
    <div layout='row' layout-align="left center" class='footer'>
      <h5 class='md-subhead'>
        <a ng-href="https://github.com/FinishingTouchEmpire/qurvey">GitHub</a>
        <br/>
        <a ng-href="mailto:finishingtouchempire@gmail.com">Contact</a>
        <br/>
        Built by <a ng-href='https://github.com/royalbasmati'>Mario</a> and <a ng-href='https://github.com/brettcelestre'>Brett</a>
      </h5>
    </div>
  </md-toolbar>
  
</div>