<div class='login'>

  <h1>Qurvey</h1>
  
  <form name="login" novalidate>
    
    <div class="username-input">
      <h3>Username</h3>
        <input type="text" class="login-input" name="login" placeholder="Username" ng-model="username" ng-pattern="/^[#a-zA-Z0-9]*$/" required>
    </div>
    
    <div class="password-input">
      <h3>Password</h3>
        <input type="text" class="login-input" name="login" placeholder="Password" ng-model="password" ng-pattern="/^[#a-zA-Z0-9]*$/" required>
    </div>
    
    <!-- <div class="alert-container">
      <span class="alert alert-invalid" ng-show="validPassword===true">Your password must be at least 6 characters long.</span>
      <span class="alert alert-invalid" ng-show="search.query.$dirty && search.query.$error.required">Query is required.</span>
      <span class="alert alert-invalid" ng-show="search.query.$dirty && (twitterCheckShow == false && instagramCheckShow == false)">At least one authorized social media account is required.</span>
      <span class="alert alert-invalid" ng-show="search.query.$dirty && search.query.$invalid">Query is invalid (no special characters).</span>
    </div> -->
    
    <!-- ui-sref="login" -->
    <!-- ng-disabled="search.query.$pristine || search.query.$invalid || (search.query.$invalid && search.query.$error.required) && (twitterCheckShow == false && instagramCheckShow == false)" -->
    <br>
    <button type="button" class="btn btn-primary" ng-click='userLogin(username, password)'>Login</button>
    <br>
    <br>
    <button type='button' class='create-account' ng-click='signUp()'>Sign Up</button>
  </form>
  
  
</div>