<div class='login'>

  <h1>Qurvey</h1>
  
  <form name="login" novalidate>
    
    <div class="username-input">
      <h3>Username</h3>
        <input type="text" class="login-input" name="login" placeholder="Username" ng-model="username" ng-change='loginButtonCheck()' ng-pattern="/^[#a-zA-Z0-9]*$/" required>
    </div>
    
    <div class="password-input">
      <h3>Password</h3>
        <input type="text" class="login-input" name="login" placeholder="Password" ng-model="password" ng-change='loginButtonCheck()' ng-pattern="/^[#a-zA-Z0-9]*$/" required>
    </div>
    
    <br>
    <button type="button" class="btn btn-primary" ng-click='userLogin(username, password)' ng-disabled='submitCheck'>Login</button>
    <br>
    <br>
    <button type='button' class='create-account' ng-click='signUp()'>Sign Up</button>
  </form>
  
  
</div>