<div class='main' ng-controller='MainController'>

  <!-- Nav bar -->
  <md-content class='nav'>

    <div class="nav-bar nav-menu" layout='row'>
                      
          <!-- Main Qurvey Header -->
          <a ng-click='questions()' class='md-display-1 pointer main-title'>
            <p class='qurvey-title'>Qurvey</p>
          </a>
          
            <span flex></span>

            <!-- Input for search bar -->
            <md-content class='search-bar' hide-xs>
              <md-input-container md-no-float class="md-block search-input">
                <form ng-submit='search()'>
                  <input class='search-bar' type="text" ng-model="searchTerm" placeholder='Search Qurveys'>
                </form>
              </md-input-container>
            </md-content>

            <!-- <img src='http://brettcelestre.com/qurvey/imgs/search.png' class='img-search' /> -->
            
            <div ng-click='ask()' class='ask-qurvey-btn pointer'>
              <p class='ask-qurvey-text pointer'>Ask <span hide-xs hide-sm>a Qurvey</span></p>
            </div>

            <span flex hide-xs></span>
            
            <!-- Displays user name, links to their profile view -->
            <a ng-click='profile()' class='row-inline profile-name-nav pointer' layout-align="center center">
              <p hide-xs class='md-subhead user-top'>{{ currentUser }}</p>
              <img src='http://brettcelestre.com/qurvey/imgs/user.svg' class='img-profile' />
            </a>

            <!-- Drop Down Menu -->
            <div class='logout-dropdown pointer' ng-click="showMenu()">
              <img src='http://brettcelestre.com/qurvey/imgs/dots.svg' class='logout-dots' />
              
              <div class='{{ menuClasses }}' ng-click="logout()">
                <a>Logout</a>
              </div>
              
            </div>

    </div>

  </md-content>

  <div ui-view='content'></div>

</div>