<md-dialog >
<form>
    <div class='ask-container md-inline-form' ng-controller='AskController'>
      
      <md-toolbar class='ask-toolbar'>
        <div layout='row'>
          
          <!-- Exit Button -->
            <img ng-click="cancel()" src="http://brettcelestre.com/qurvey/imgs/close.svg" aria-label="Close dialog" class='ask-close' />
        
          <span flex></span>
          
          <section layout='row' layout-align='center center'>
            <p class='ask-qurvey-header'>Ask a Qurvey</p>
          </section>
          
          <span flex></span>
          
        </div>
      </md-toolbar>
      
      <div class='ask-spacer'></div>
      
      <md-dialog-content>

        <md-input-container layout="row" class="ask-input">
          <input type="text" name="ask-input" placeholder="Question" ng-model="question" required>
        </md-input-container>
        
        <div class='option'>
          <md-input-container layout="row" class="ask-input">
            <input type="text" name="ask-input" placeholder="Option" ng-model="option1" required>
          </md-input-container>
        </div>
        
        <div class='option'>
        <md-input-container layout="row" class="ask-input">
          <input type="text" name="ask-input" placeholder="Option" ng-model="option2" required>
        </md-input-container>
        </div>
        
        <p class='add-option' ng-hide='addOptionButtonThree' ng-click="addOptionButtonThree = true; hideThree = false">Add Another Option</p>
        
        <div id='option3' ng-hide='hideThree'>
          <div class='option'>
            <md-input-container layout="row" class="ask-input option">
              <input type="text" name="ask-input" placeholder="Option" ng-model="option3" required>
            </md-input-container>
          </div>
          <p class='add-option' ng-hide='addOptionButtonFour' ng-click="addOptionButtonFour = true; hideFour = false">Add Another Option</p>
        </div>
        
        <div id='option4' ng-hide='hideFour'>
          <div class='option'>
            <md-input-container layout="row" class="ask-input option">
              <input type="text" name="ask-input" placeholder="Option" ng-model="option4" required>
            </md-input-container>
          </div>
          <p class='add-option' ng-hide='addOptionButtonFive' ng-click="addOptionButtonFive = true; hideFive = false">Add Another Option</p>
        </div>
        
        <div id='option5' ng-hide='hideFive'>
          <div class='option'>
            <md-input-container layout="row" class="ask-input option">
              <input type="text" name="ask-input" placeholder="Option" ng-model="option5" required>
            </md-input-container>
          </div>
        </div>
      </md-dialog-content>
      
      <md-dialog-actions layout="row" layout-align="center center">
        <div class='ask-button center-button pointer' ng-click='askQuestion(); cancel()'>
          Create Question
        </div>
      </md-dialog-actions>
      
      <br>

    </div>
  </form>
</md-dialog>
