
<!-- State: 'main.questions.filter'
This view shows under 'Questions' and allows you filter top and recent -->

<div class='content-container center-div' ng-controller='QuestionController'>  
 
  <section class='filter-view' layout="row" layout-sm="row" layout-align="center center" layout-wrap>
  
    <div class="{{ buttonTop }} pointer" ng-click='top()'>
      Top
    </div>
    
    <div class="{{ buttonRecent }} pointer" ng-click='recent()'>
      Recent
    </div>
    
  </section>

  <div ui-view='question-feed'></div>

</div>