<md-dialog class='signup-modal center-div md-inline-form' layout-xs ng-controller='SignUpController'>

  <md-toolbar class='toolbar-top'>
    <div layout='row'>
      
      <!-- Exit Button -->
      <img ng-click="cancel()" src="http://brettcelestre.com/qurvey/imgs/close.svg" aria-label="Close dialog" class='ask-close' />
    
      <span flex></span>
      
      <section layout='row' layout-align='center center'>
        <p class='toolbar-header'>Join Qurvey</p>
      </section>
      
      <span flex></span>
      
    </div>
  </md-toolbar>

  <div class='ask-spacer'></div>

  <md-dialog-content>
  <form name="login" novalidate class='signup-form'>

    <md-input-container class="md-block">
      <label>Username</label>
      <input required name="username" class='signup-input' ng-model="username" ng-change='createAccountButton()'>
    </md-input-container>
    
    <md-input-container class="md-block">
      <label>Password</label>
      <input required name="password" type='password' class='signup-input' ng-model="password" ng-change='createAccountButton()'>
    </md-input-container>
    
    <h3 class='signin-title'>Personality Traits</h3>

    <fieldset class="standard" >
      <legend>Choose 4 - 6 Traits</legend>
      <div layout="row" class='trait-box' layout-wrap flex>
        <div flex="50" class='trait-list' ng-repeat="trait in traitOptions">
          <md-checkbox ng-checked="exists(trait, traits)" ng-click="toggle(trait, traits)" class="md-warn">
            {{ trait }}
          </md-checkbox>
        </div>
      </div>
    </fieldset>
    
    <br>
    <h5 ng-if='tooManyTraits'>Too Many Traits</h5>
    </md-dialog-content>
    <md-button id='createAcccount' type='button' class='login-button create-account md-raised' ng-click='createAccount(); cancel()' ng-disabled='submitCheck'>Create Account</md-button>
    <br>
  </form>
  
</md-dialog>
