<div class='login'>

  <h1>Qurvey</h1>
  <h3>Sign Up</h3>
  
  <form name="login" novalidate>
    
    <div class="username-input">
      <h3>Username</h3>
        <input type="text" class="login-input" name="login" placeholder="Username" ng-model="username" ng-change='createAccountButton()' ng-pattern="/^[#a-zA-Z0-9]*$/" required>
    </div>
    
    <div class="password-input">
      <h3>Password</h3>
        <input type="text" class="login-input" name="login" placeholder="Password" ng-model="password" ng-change='createAccountButton()' ng-pattern="/^[#a-zA-Z0-9]*$/" required>
    </div>
    
    <h3>Personality Traits</h3>
    <h5>Choose 4-6</h5>  
    
    <div id='trait-box'>
      <div class='trait-row'>
        <button id='traditional' class='trait-item' ng-click='addTrait("traditional")'>Traditional</button>
        <button id='unconventional' class='trait-item' ng-model='trait' ng-click='addTrait("unconventional")'>Unconventional</button>
        <button id='splendid' class='trait-item' ng-model='trait' ng-click='addTrait("splendid")'>Splendid</button>
      </div>
      <div class='trait-row'>
        <button id='spontaneous' class='trait-item' ng-click='addTrait("spontaneous")'>Spontaneous</button>
        <button id='introverted' class='trait-item' ng-click='addTrait("introverted")'>Introverted</button>
        <button id='extroverted' class='trait-item' ng-click='addTrait("extroverted")'>Extroverted</button>
      </div>
      <div class='trait-row'>
        <button id='guarded' class='trait-item' ng-click='addTrait("guarded")'>Guarded</button>
        <button id='warm' class='trait-item' ng-click='addTrait("warm")'>Warm</button>
        <button id='anxious' class='trait-item' ng-click='addTrait("anxious")'>Anxious</button>
      </div>
      <div class='trait-row'>
        <button id='relaxed' class='trait-item' ng-click='addTrait("relaxed")'>Relaxed</button>
        <button id='sad' class='trait-item' ng-click='addTrait("sad")'>Sad</button>
        <button id='confused' class='trait-item' ng-click='addTrait("confused")'>Confused</button>
      </div>
    </div>
    
    <br>
    <h5 ng-if='tooManyTraits'>Too Many Traits</h5>
    <button id='createAcccount' type='button' class='create-account' ng-click='createAccount()' ng-disabled='submitCheck'>Create Account</button>
    <br>
    <br>
    <button type="button" class="btn btn-primary" ng-click='loginView()'>Login Page</button>
  </form>
  
  
</div>
