
body {
  /*background-color: #dcf2f8;*/
  height: 100%;
  margin: 0px;
}

.main-view-background {
  background-color: #dcf2f8;
}

div.ng-scope {
  /*background-color: #CDEDF6;*/
}

/* home links */
a {
  text-decoration: inherit;
  font-style: inherit;
  color: inherit;
}


.question-header {
  padding-left: 10px;
}
/* end cards */
/* buttons */
.answered {
  background-color: #114B5F !important;
  color: white !important;
}
/* end buttons */

.main-view {
  width: 100%;
  height: 100%;
}

/* --- NAV BAR --*/

.qurvey-title {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 700;
  font-size: 38px;
  letter-spacing: -1px;
  color: #fff;
}

.qurvey-title:hover {
  cursor: pointer;
}

.main-title {
  margin: -30px 0 0 20px;
  color: #fff;
}

.main-tab-title {
  font-size: 20px;
}

.nav-menu {
  width: 100%;
  height: 35px;
  z-index: 12;
  position: relative;
  /*z-index: 5;*/
  background-color: #114B5F;
}

.nav {
  /*background-color: #114b5f;*/
  background-color: #114B5F;
  /*z-index: 5;*/
}

.nav-bar {
  margin: 0;
  padding: 0;
  position: fixed;
  display: flex;
  top: 0;
  min-height: 57px !important;
  height: 57px !important;
  max-height: 57px !important;
  background-color: #114B5F;
  /*z-index: 5;*/
}

.md-toolbar {
  min-height: 64px !important;
  height: 64px !important;
  max-height: 64px !important; 
}

.md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: #114B5F;
}

.nav-bar h1 {
  display: block;
  position: relative;
  margin: 0px;
  text-align: center;
}

.nav-inner {
  background-color: #114B5F;
}

.ask-qurvey-btn {
  height: 100%;
  font-size: 18px;
  vertical-align: middle;
  padding: 0px 13px 0px 13px;
  margin: 0px 0px 0px 15px;
  color: white;
}

.ask-qurvey-btn:hover {
  background-color: #285d6f;
}

.ask-qurvey-text {
  margin: 19px 0 0 0; 
}

.profile-name-nav {
  height: 100%;
  padding: 0 13px 0 13px;
  margin: 0px 0 0px 0;
  /*z-index: 10;*/
  background-color: #114B5F;
}

.profile-name-nav:hover {
  background-color: #285d6f;
}

.md-menu {
  height: 20px !important;
}

.logout-dropdown {
  position: relative;
  /*height: 35px;*/
  height: 100%;
  width: 50px;
  margin: 0;
  /*z-index: 10;*/
  background-color: #114B5F;
  /*background-color: green;*/
}

.logout-dropdown:hover {
  height:100%;
  /*height: 35px;*/
  background-color: #285d6f;
  /*z-index: 10;*/
}

.logout-dots {
  width: 6px;
  height: 32px;
  padding: 13px 0 0 18px;
  margin: 0px 0 0 0;
  z-index: 10;
}

.menu {
  width: 120px;
  height: 38px;
  /*top: 5px;*/
  top: -35px;
  left: -70px;
  padding-top: 13px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  color: white;
  z-index: -2;
  /*background-color: red;*/
  background-color: #114B5F;
  position: absolute;
}

.menu:hover {
  background-color: #285d6f;
}

.menu-show {
  top: 57px;
  left: -70px;
}

.search-bar {
  height: 40px;
  width: 350px;
  font-size: 16px;
  font-weight: 200;
  padding-left: 5px;
  margin: 9px 0 0 4px;
  border-bottom: 0px !important;
}

.search-input {
  margin-top: 3px;
  padding-right: 5px;
}

.search-bar:focus {
  outline: none;
}

/* VVV Ask View --- */

.ask-container {
  background-color: #dcf2f8;
}

.ask-qurvey-header {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -1px;
  color: #fff;
  margin: 15px 25px 0 0;
}

.ask-toolbar {
  background-color: #114B5F;
  height: 5px;
}

.ask-close {
  width: 17px;
  height: 17px;
  margin: 25px 0 0 20px;
}

.ask-tab {
  background-color: #d1d1d1;
  width: 50%;
  height: 45px;
  text-align: center;
  vertical-align:middle;
  float: right;
}
.ask-tab:hover {
  background-color: #e6e6e6;
}

.ask-input {
  height: 26px;
  width: 490px;
  font-size: 16px;
  font-weight: 200;
  margin: 15px 15px 0 15px;
}
.ask-input:focus {
  outline: none;
}

.option {
  margin-top: 25px;
}

.ask-button {
  width: 165px;
  height: 38px;
  background-color: #114B5F;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 300;
  padding-top: 7px;
  color: white;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}
.ask-button:hover {
  background-color: #F26419;
}

.add-option {
  font-size: 14px;
  font-weight: 200;
  padding-left:20px;
  margin-top: 13px;
}
.add-option:hover {
  cursor: pointer;
  font-weight: 300;
}

.ask-spacer {
  margin: 30px;
}

/* ^^^ ASK STYLING ---- */

.filter-view {
  margin: -35px 0 0 0;
}

.question-filter-view {
  margin: -50px 0 0 0;
}

.menu-button {
  width: 265px;
  height: 45px;
  border-radius: 2px;
  margin: 3px;
  padding-top: 11px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  color: white;
  background-color: #114B5F;
}
.menu-button:hover {
  background-color: #406e7e;
}

.menu-button-selected {
  width: 265px;
  height: 45px;
  border-radius: 2px;
  margin: 3px;
  padding-top: 11px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  color: white;
  background-color: #F26419;
  color: #FFF;
}

.profile-filter-button {
  width: 260px;
}

.md-buttom:not([disabled]):hover {
  background-color: rgba(44, 65, 164, 0.96);
}

.user-top {
  margin: 2px 9px 0 10px;
  font-size: 18px;
  color: white;
}

.row-inline {
  display: inline-flex;
}

.invalid-hide {
  display: none;
  margin-top: 0px;
}

.invalid-show {
  display: show;
  margin-top: 0px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  text-align: center;
  background-color: #CDEDF6;
  justify-content: center;
  width: 385px;
  border-radius: 2px;
  /*padding: 5px 5px 10px 5px;*/
  /*margin: 5px;*/
}

.home {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 700;
  text-align: center;
  /*background-color: #5EB1BF;*/
  justify-content: center;
  width: 100%;
  height: 100vh;
  /*border-radius: 2px;*/
  /*padding: 5px 5px 10px 5px;*/
  /*margin: 5px;*/
  /*margin-top: 0px;*/
}

.home-title {
  color: #CDEDF6;

}

.background {
    background: url('http://brettcelestre.com/qurvey/imgs/library.jpg') no-repeat center center fixed;
    position: relative;
    opacity: 0.4;
}

.layer {
    background-color: #5EB1BF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.footer {
  text-align: left;
  background-color: #114B5F;
  color: #CDEDF6;

}

.content-container {
  width: 570px;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

.tab-seleceted {
  background-color: #e6e6e6;
}

.question-tab {
  background-color: #d1d1d1;
  width: 50%;
  height: 45px;
  text-align: center;
  vertical-align:middle;
  float: left;
}
.question-tab:hover {
  /*border-top-left-radius: 2px;*/
  background-color: #e6e6e6;
}

.top-tab {
  background-color: #d1d1d1;
  width: 50%;
  height: 45px;
  text-align: center;
  vertical-align:middle;
  float: left;
}
.top-tab:hover {
  background-color: #e6e6e6;
}

.recent-tab {
  background-color: #d1d1d1;
  width: 50%;
  height: 45px;
  text-align: center;
  vertical-align:middle;
  float: left;
}
.recent-tab:hover {
  background-color: #e6e6e6;
}

.trait-box {
   width: 300px;
}

.trait-item {
  width: 100px;
  height: 30px;
  border: none;
  background-color: #eee;
  margin: 3px;
}

.trait-item:hover {
  cursor: pointer;
}

.pointer {
  cursor: pointer !important;
}

.pointer:focus {
  outline: none;
}

.trait-item:focus {
  outline: none;
}

.login-button:hover {
  cursor: pointer;
}

.selected {
  background-color: #fff;
}

.eye-icon {
  width: 17px;
  height: 17px;
  vertical-align: middle;
  padding-left: 5px;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.eye-icon:hover {
  cursor: pointer;
}

.img-profile {
  width: 23px;
  height: 23px;
  margin: 0px 0 0 0px;
}

.img-gear {
  width: 23px;
  height: 23px;
  /*opacity: .4;*/
  margin: 7px 0 0 15px;
}

.img-search {
  width: 18px;
  height: 18px;
  opacity: .4;
  margin: 9px 0 0 0px;
}

.center-div {
  margin-left: auto;
  margin-right: auto;
}
.center-button {
  display: block;
  margin: 0 auto;
  /*widthL*/
  /*text-align: center;*/
}

.header {
  padding-top: 20px;
  text-align: center;
}

/* --- PROFILE STYLING ---- */

.profile-header {
  width: 553px;
  left: 8px;
  margin: 70px 6px 8px 0;
  background-color: red;
  overflow: hidden;
}
.md-toolbar {
  background-color: #2196F3;
}
.profile-bar {
  height: 53px;
  overflow: hidden;
}
.profile-stats {
  padding-top: 7px;
}
.profile-user-title {
  padding-top: 3px;
  color: #fff;
}
.profile-stats-spacer {
  width: 20px;
}
.profile-card {
  padding: 10px 0 0 0;
}
.traits-header {
 /*display: inline-block; */
  margin: 0 0 0 0;
  padding-left: 17px;
}
.traits {
 padding-left: 5px; 
}

/* --- GRAPH STYLING ---- */

.graph {
  width: 100%;
  height: 200px;
  /*margin-top: -20px;*/
  /*background-color: red;*/
}

.fullscreen {
  width: 100%;
  height: 560px;
  /*margin-top: -20px;*/


}

/* --- QUESTION STYLING ---- */

.question-div {
  padding: -50px 0 0px 0;
}
.question-divider {
  margin: 13px 0 0 0;
}

.feed-div {
  margin-top: 20px;
}

.question-title {
  font-size: 1.5rem;
  line-height: 1.35rem;
  letter-spacing: -.06rem;
  margin: 10px 0 -16px 0;
}

.voting-options {
  margin: 0px 0 0 10;
}

.answer-number {
  margin: 0 0 0px 0;
}



