body {
  background-color: #f2f2f2;
  margin: 5px 5px 5px 5px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  text-align: center;
  background-color: #d1d1d1;
  justify-content: center;
  width: 385px;
  height: 300px;
  border-radius: 5px;
  padding: 2px;
}