
body {
  /*background-color: #dcf2f8;*/
  height: 100%;
  margin: 0px;
}

.main-view-background {
  background-color: #dcf2f8;
}

div.ng-scope {
  /*background-color: #CDEDF6;*/
}

/* home links */
a {
  text-decoration: inherit;
  font-style: inherit;
  color: inherit;
}


.question-header {
  padding-left: 10px;
}
/* end cards */
/* buttons */
.answered {
  background-color: #114B5F !important;
  color: white !important;
}
/* end buttons */

.main-view {
  width: 100%;
  height: 100%;
}

/* ----------- Toolbar ----------- */

.toolbar-top {
  height: 65px;
}
.toolbar-header {
  color: #fff;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 0px;
  padding-top: 3px;
}

/* ----------- Sign Up Modal ----------- */

.signup-modal {
  width: 450px;
  text-align: center;
  /*background-color: #263238;*/
  background-color: white;
  justify-content: center;
  border-radius: 2px;
}
.signup-form {
  margin: 10px 10px 10px 10px;
}

.signup-input {
  margin-bottom: -20px;
}
.signin-title {
  margin: 10px 0 10px 0;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 700;
  font-size: 38px;
  letter-spacing: -1px;
  color: black;
}
.trait-box {
  margin: -10px 0 15px 0;
}
.trait-list {
  text-align: left;
  padding-left: 10px;
  margin-bottom: -25px;
}

/* ----------- NAV BAR ----------- */

.qurvey-title {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 700;
  font-size: 38px;
  letter-spacing: -1px;
  color: #fff;
}

.qurvey-title:hover {
  cursor: pointer;
}

.main-title {
  margin: -30px 0 0 20px;
  color: #fff;
  background-color: #114B5F;
}

.main-tab-title {
  font-size: 20px;
}

.nav-menu {
  width: 100%;
  height: 35px;
  /*z-index: 12;*/
  position: relative;
  /*position: absolute;*/
  /*z-index: 5;*/
  background-color: #114B5F;
}

.nav {
  /*background-color: #114b5f;*/
  background-color: #114B5F;
  /*z-index: 11;*/
  /*z-index: 5;*/
}

.nav-bar {
  margin: 0;
  padding: 0;
  position: fixed;
  display: flex;
  top: 0;
  min-height: 57px !important;
  height: 57px !important;
  max-height: 57px !important;
  background-color: #114B5F;
  z-index: 5;
}

.md-toolbar {
  min-height: 64px !important;
  height: 64px !important;
  max-height: 64px !important; 
}

.md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  /*background-color: #114B5F;*/
  background-color: #263238;
}

.nav-bar h1 {
  display: block;
  position: relative;
  margin: 0px;
  text-align: center;
}

.nav-inner {
  background-color: #114B5F;
}

.ask-qurvey-btn {
  height: 100%;
  font-size: 18px;
  vertical-align: middle;
  padding: 0px 13px 0px 13px;
  margin: 0px 0px 0px 0px;
  color: white;
  background-color: #114B5F;
}

.ask-qurvey-btn:hover {
  background-color: #285d6f;
}

.ask-qurvey-text {
  margin: 19px 0 0 0; 
}

.profile-name-nav {
  height: 100%;
  padding: 0 13px 0 13px;
  margin: 0px 0 0px 0;
  /*z-index: 10;*/
  background-color: #114B5F;
}

.profile-name-nav:hover {
  background-color: #285d6f;
}

.md-menu {
  height: 20px !important;
}

.logout-dropdown {
  position: relative;
  /*height: 35px;*/
  height: 100%;
  width: 50px;
  margin: 0;
  /*z-index: 10;*/
  background-color: #114B5F;
  /*background-color: green;*/
}

.logout-dropdown:hover {
  height:100%;
  /*height: 35px;*/
  background-color: #285d6f;
  /*z-index: 10;*/
}

.logout-dots {
  width: 6px;
  height: 32px;
  padding: 13px 0 0 18px;
  margin: 0px 0 0 0;
  z-index: 10;
}

.menu {
  width: 120px;
  height: 38px;
  /*top: 5px;*/
  top: -35px;
  left: -70px;
  padding-top: 13px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  color: white;
  z-index: -2;
  /*background-color: red;*/
  background-color: #114B5F;
  position: absolute;
  transition: all 0.2s ease-out;
}

.menu-show {
  top: 57px;
  left: -70px;
}

.menu:hover {
  background-color: #285d6f;
}


.search-bar {
  height: 40px;
  width: 350px;
  font-size: 16px;
  font-weight: 200;
  padding-left: 5px;
  margin: 9px 15px 0 10px;
  border-bottom: 0px !important;
  /*background-color: #114B5F;*/
  background-color: white;
  overflow: hidden;
}

.search-icon {
  /*position: relative;*/
  height: 100%;
  width: 40x;
  padding: 0px 13px 0px 13px;
  background-color: #114B5F;
}
.search-icon:hover {
  width: 40x;
  background-color: #285d6f;
}

.img-search {
  width: 23px;
  height: 23px;
  /*opacity: .4;*/
  margin: 17px 0 0 0px;
}

.menu-search {
  /*width: 120px;*/
  width: 100%;
  height: 65px;
  display:none;
  /*top: 5px;*/
  top: -15px;
  left: 0px;
  /*padding-top: 13px;*/
  font-size: 18px;
  /*text-align: center;*/
  /*vertical-align: middle;*/
  color: white;
  z-index: -4;
  /*background-color: red;*/
  background-color: #114B5F;
  position: absolute;
  /*position: relative;*/
  transition: all 0.2s ease-out;
}

.menu-search-show {
  display:block;
  top: 57px;
  left: 0px;
}

.main-view {
  /*top: 100px;*/
  display: none;
  height: 0px;
  width: 5px;
}
.main-view-down {
  /*top: 500px;*/
  display: block;
  height: 65px;
  width: 5px;
}

/*.menu-search:hover {
  background-color: #285d6f;
}*/

.menu-search-bar {
  height: 40px;
  
  /*width: 560px;*/
  max-width: 560px;
  font-size: 16px;
  font-weight: 200;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px 10px 5px 10px;
  border: none;
  border-bottom: 0px !important;
  /*background-color: #114B5F;*/
  background-color: white;
}

.menu-search-input {
  height: 38px;
  width: 100%;
  /*max-width: 560px;*/
  border: none;
  border-bottom: 0px !important;
  overflow: hidden;
  overflow-x: hidden;
}
.menu-search-input:focus {
  outline: none;
  border: none;
  overflow: hidden;
}

.search-input {
  margin-top: 3px;
  padding-right: 5px;
  margin-left: -10px;
}

.search-bar:focus {
  outline: none;
}

/* VVV Ask View --- */

.ask-container {
  background-color: #dcf2f8;
}

.ask-qurvey-header {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -1px;
  color: #fff;
  margin: 15px 25px 0 0;
}

.ask-toolbar {
  height: 5px;
}

.ask-close {
  width: 17px;
  height: 17px;
  margin: 25px 0 0 20px;
}

.ask-tab {
  background-color: #d1d1d1;
  width: 50%;
  height: 45px;
  text-align: center;
  vertical-align:middle;
  float: right;
}
.ask-tab:hover {
  background-color: #e6e6e6;
}

.ask-input {
  height: 26px;
  width: 490px;
  font-size: 16px;
  font-weight: 200;
  margin: 15px 15px 0 15px;
}
.ask-input:focus {
  outline: none;
}

.option {
  margin-top: 25px;
}

.ask-button {
  width: 165px;
  height: 38px;
  background-color: #114B5F;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 300;
  padding-top: 7px;
  color: white;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}
.ask-button:hover {
  background-color: #F26419;
}

.add-option {
  font-size: 14px;
  font-weight: 200;
  padding-left:20px;
  margin-top: 13px;
}
.add-option:hover {
  cursor: pointer;
  font-weight: 300;
}

.ask-spacer {
  /*margin-top: 30px;*/
  height: 15px;
}

.ask-spacer-title {
  /*margin-top: 30px;*/
  height: 30px;
}

/* ^^^ ASK STYLING ---- */

.filter-view {
  margin: -35px 0 0 0;
}

.question-filter-view {
  margin: -50px 0 0 0;
}

.menu-button {
  width: 265px;
  height: 45px;
  border-radius: 2px;
  margin: 3px;
  padding-top: 11px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  color: white;
  background-color: #114B5F;
}
.menu-button:hover {
  background-color: #406e7e;
}

.menu-button-selected {
  width: 265px;
  height: 45px;
  border-radius: 2px;
  margin: 3px;
  padding-top: 11px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  color: white;
  background-color: #F26419;
  color: #FFF;
}

.profile-filter-button {
  width: 260px;
}

.md-buttom:not([disabled]):hover {
  background-color: rgba(44, 65, 164, 0.96);
}

.user-top {
  margin: 2px 9px 0 10px;
  font-size: 18px;
  color: white;
}

.row-inline {
  display: inline-flex;
}

.invalid-hide {
  display: none;
  margin-top: 10px;
}

.invalid-show {
  display: show;
  margin-bottom: 0px;
  margin-top: 15px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  text-align: center;
  background-color: #CDEDF6;
  justify-content: center;
  width: 385px;
  border-radius: 2px;
  /*padding: 5px 5px 10px 5px;*/
  /*margin: 5px;*/
}

.login-form {
  margin: 0 auto;
  width: 375px;
}
/*and (orientation: landscape)*/
@media (max-width: 780px) and (max-height: 435px) {
   .login-form {
   width: 350px;
 }
}
@media (max-width: 600px) {
 .login-form {
   width: 325px;
 }
}
@media (max-width: 400px) {
   .login-form {
   width: 275px;
 }
}

.login-input {
  height: 38px;
  /*width: 350px;*/
  width: 100%;
  font-size: 16px;
  font-weight: 200;
  padding-left: 8px;
  margin: 0 0 2px 0;
  border: none;
  border-bottom: 0px !important;
  background-color: white;
  overflow: hidden;
}
.login-input:focus {
  outline: none;
}
@media (max-width: 780px) and (max-height: 435px) and (orientation: landscape) {
   .login-input {
   /*width: 350px;*/
   margin: 0 0 2px 0;
 }
}
@media (max-width: 600px) {
 .login-input {
   /*YOO*/
   margin: 0 0 2px 0;
 }
}
@media (max-width: 400px) {
   .login-input {
   /*YOO*/
   margin: 0 0 2px 0;
 }
}

.login-spacer {
  margin-top: 10px;
}

.hidden {
  display: none;
}

.home {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 700;
  text-align: center;
  justify-content: center;
  width: 100%;
}

main {
  min-height: calc(100vh - 128px);
  /*min-height: 90%;*/
  
  position: relative;
}
@media (max-width: 780px) and (max-height: 435px) and (orientation: landscape) {
  main {
    min-height: 310px;
  }
}

.home-title {
  color: #fff;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 700;
  font-size: 80px;
  letter-spacing: -.1rem;
  line-height: 0px;
  text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 600px) {
 .home-title {
   font-size: 75px;
   text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
 }
}

.home-title-subtitle {
  color: #fff;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: -.1rem;
  line-height: 0px;
}
@media (max-width: 780px) and (max-height: 435px)and (orientation: landscape) {
  .home-title-subtitle {
    display: none;
  }
}
@media (max-width: 600px) {
 .home-title-subtitle {
   display: none;
   /*font-size: 27px;
   letter-spacing: -.05rem;
   text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/
 }
}

.home-copy {
    color: #fff;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    letter-spacing: -.04rem;
    line-height: 1.5rem;
  }
@media (max-width: 780px) and (max-height: 435px) and (orientation: landscape) {
  .home-copy {
    display: none;
  }
}
@media (max-width: 600px) {
  .home-copy {
    display: none;
    /*font-size: 1.05rem;
    letter-spacing: -.04rem;
    line-height: 1.3rem;
    padding-top: 5px;*/
  }
}

.landing {
  margin: 0 auto;
  position: absolute;
  width: 650px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media (max-width: 700px) {
 .landing {
   width: 500px;
   top: 47%;
 }
}
@media (max-width: 600px) {
 .landing {
   width: 355px;
   top: 45%;
 }
}
@media (max-width: 780px) and (orientation: landscape) {
  .landing {
    top: 40%;
  }
}
@media (max-width: 400px) {
 .landing {
   width: 300px;
   top: 45%;
 }
}

.landing-button {
  width: 230px;
  /*width: 100%;*/
  height: 40px;
  border-radius: 2px;
  margin-top: 6px;
  padding-top: 9px;
  font-size: 16px;
  /*text-align: center;
  vertical-align: middle;*/
  color: white;
  background-color: #114B5F;
}
.landing-button:hover {
  background-color: #406e7e;
}
/*@media (max-width: 700px) {
 .landing-button {
   width: 400px;
 }
}
@media (max-width: 400px) {
 .landing-button {
   width: 350px;
 }
}*/

.landing-button-selected {
  background-color: #F26419;
}

.landingBtns {
  text-align: center;
  width: 100%;
}

.background {
  background: url('http://brettcelestre.com/qurvey/imgs/library.jpg') no-repeat center center fixed;
}

.layer {
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: .5;
}

.footer {
  padding-left: 25px;
}

.md-subhead {
  font-size: .8rem;
}
@media (max-width: 700px) {
 .md-subhead {
   font-size: 1rem;
 }
}

.content-container {
  width: 570px;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

.tab-seleceted {
  background-color: #e6e6e6;
}

.question-tab {
  background-color: #d1d1d1;
  width: 50%;
  height: 45px;
  text-align: center;
  vertical-align:middle;
  float: left;
}
.question-tab:hover {
  /*border-top-left-radius: 2px;*/
  background-color: #e6e6e6;
}

.top-tab {
  background-color: #d1d1d1;
  width: 50%;
  height: 45px;
  text-align: center;
  vertical-align:middle;
  float: left;
}
.top-tab:hover {
  background-color: #e6e6e6;
}

.recent-tab {
  background-color: #d1d1d1;
  width: 50%;
  height: 45px;
  text-align: center;
  vertical-align:middle;
  float: left;
}
.recent-tab:hover {
  background-color: #e6e6e6;
}

.trait-item {
  width: 100px;
  height: 30px;
  border: none;
  background-color: #eee;
  margin: 3px;
}

.trait-item:hover {
  cursor: pointer;
}

.pointer {
  cursor: pointer !important;
}

.pointer:focus {
  outline: none;
}

.trait-item:focus {
  outline: none;
}

.login-button:hover {
  cursor: pointer;
}

.selected {
  background-color: #fff;
}

.eye-icon {
  width: 17px;
  height: 17px;
  vertical-align: middle;
  padding-left: 5px;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.eye-icon:hover {
  cursor: pointer;
}

.img-profile {
  width: 23px;
  height: 23px;
  margin: 0px 0 0 0px;
}

.img-gear {
  width: 23px;
  height: 23px;
  /*opacity: .4;*/
  margin: 7px 0 0 15px;
}

.center-div {
  margin-left: auto;
  margin-right: auto;
}
.center-button {
  display: block;
  margin: 0 auto;
  /*widthL*/
  /*text-align: center;*/
}

.header {
  padding-top: 20px;
  text-align: center;
}

/* --- PROFILE STYLING ---- */

.profile-header {
  width: 553px;
  left: 8px;
  margin: 70px 6px 8px 0;
  background-color: red;
  overflow: hidden;
}
/*.md-toolbar {
  background-color: #2196F3;
  background-color: #333333;
}*/
.profile-bar {
  height: 53px;
  overflow: hidden;
}
.profile-stats {
  padding-top: 7px;
}
.profile-user-title {
  padding-top: 3px;
  color: #fff;
}
.profile-stats-spacer {
  width: 20px;
}
.profile-card {
  padding: 10px 0 0 0;
}
.traits-header {
 /*display: inline-block; */
  margin: 0 0 0 0;
  padding-left: 17px;
}
.traits {
 padding-left: 5px; 
}

/* --- GRAPH STYLING ---- */

.graph {
  width: 100%;
  height: 200px;
  /*margin-top: -20px;*/
  /*background-color: red;*/
}

.fullscreen {
  width: 100%;
  height: 560px;
  /*margin-top: -20px;*/


}

/* --- QUESTION STYLING ---- */

.question-div {
  padding: -50px 0 0px 0;
}
.question-divider {
  margin: 13px 0 0 0;
}

.feed-div {
  margin-top: 20px;
}

.question-title {
  font-size: 1.5rem;
  line-height: 1.35rem;
  letter-spacing: -.06rem;
  margin: 10px 0 -16px 0;
}

.voting-options {
  margin: 0px 0 0 10;
}

.answer-number {
  margin: 0 0 0px 0;
}



